body {
  background-color: #ffffff;
  color: #282828;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0px;
}
body.dark-mode {
    background-color: #101010;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#light-dark {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 25px;
}
.dark-mode .light-icon {
    display: none;
}
.light-icon {
    display: inline-block;
}
.dark-mode .dark-icon {
    display: inline-block;
}
.dark-icon {
    display: none;
}
h1 {
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-decoration: none;
    border: solid;
    border-color: #151515;
    background-color: #151515;
    padding: 5px;
    margin-top: 0px;
}
h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-decoration: none;
    border-top: dotted;
    border-bottom: dotted;
}
h5 {
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}
a:link {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color: #6f8faf;
}
#main-content {
    border: solid;
    border-color: var(--text-color);
    background-color: var(--background-color);
    text-emphasis-color: var(--text-color);
    text-align: center;
    border-radius: 10px;
    width: 40%;
    height: 375px;
    padding: 5px;
    margin: auto;
}
#links {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
#misc {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
}
#desc {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
}
#gif {
    width: 100px;
    margin-left: auto;
    margin-right: 15px;

}
